<?xml version='1.0' encoding='UTF-8'?><RESTXMLResponse><StatusResponse><Status name=$name_val status=$status_val uri="/id/SystemObject/Job/NSH Script Job/5b476a4e-2807-4213-8acc-45ed2b87001b/Statuses/Status3257" targetURI="/id/SystemObject/Job Run/951b4cce-2deb-4159-924c-1f0e4cb51dcd" hadErrors="false" hadWarnings="false" isAbort="false" isCancelled="false" /></StatusResponse></RESTXMLResponse>
