<?xml version='1.0' encoding='UTF-8'?><RESTXMLResponse><PropertySetClassChildrenResponse><PropertySetClassChildren><PropertySetClasses totalCount="0" /><PropertySetInstances totalCount="1"><PropertySetInstance name=$name_val description="" type="/type/PropertySetClasses/SystemObject/Job/Update Server Properties Job" dbKey=$dbKey_val objectId=$objectId_val uri=$uri_val modelType="UPDATE_SERVER_PROPERTY_JOB" modelTypeId="1017" /></PropertySetInstances></PropertySetClassChildren></PropertySetClassChildrenResponse></RESTXMLResponse>
