<?xml version='1.0' encoding='UTF-8'?><RESTXMLResponse><PropertySetInstanceChildrenResponse><PropertySetInstanceChildren><Statuses totalCount="1"><Status name=$name_val status=$status_val uri=$uri_val targetURI="/id/SystemObject/Job Run/a68c0ad3-1702-48a7-a7f4-7083efb873a6" hadErrors="false" hadWarnings="false" isAbort="false" isCancelled="false" /></Statuses></PropertySetInstanceChildren></PropertySetInstanceChildrenResponse></RESTXMLResponse>