<?xml version='1.0' encoding='UTF-8'?><RESTXMLResponse><PropertySetInstanceChildrenResponse><PropertySetInstanceChildren><Statuses totalCount="1"><Status name=$name_val status=$status_val uri=$uri_val targetURI="/id/SystemObject/Job Run/951b4cce-2deb-4159-924c-1f0e4cb51dcd" completed="0" total="1" hadErrors="false" hadWarnings="false" isAbort="false" isCancelled="false" /></Statuses></PropertySetInstanceChildren></PropertySetInstanceChildrenResponse></RESTXMLResponse>