<?xml version='1.0' encoding='UTF-8'?><RESTXMLResponse><PropertySetClassChildrenResponse><PropertySetClassChildren><PropertySetClasses totalCount="0" /><PropertySetInstances totalCount="1"><PropertySetInstance name=$jobName_val description="" type="/type/PropertySetClasses/SystemObject/Job/Virtual Guest Job" dbKey=$SJobModelKeyImpl_val objectId=$objectId_val uri=$uri_val modelType="VIRTUAL_GUEST_JOB" modelTypeId="50002" /></PropertySetInstances></PropertySetClassChildren></PropertySetClassChildrenResponse></RESTXMLResponse>